.MuiNativeSelect-select-61{
    padding-right:60px;
}
.MuiNativeSelect-root-60{
    padding-right: 60px;
}
.MuiInput-underline-19:before{
    border-bottom: none !important;
} 
.NativeSelects-formControl-2{
    width:100%;
    background:white;
    padding: 10px !important;
} 
.NativeSelects-formControl-18{
    width:100%;
    background:white;
    padding: 10px !important;
}
.MuiInput-underline-35:before{
    border-bottom: none !important;
}